@media only screen and (min-width: 1250px) {
  .section__midle {
    background-color: rgb(17, 24, 39);
    padding: 60px;
    padding-top: 0;
    height: fit-content;

    &.main {
      margin-inline: auto;
    }
  }

  .section__popular {
    width: 100%;
    background-color: rgb(17, 24, 39);
    padding: 60px;
    padding-top: 0;
    height: fit-content;
    & div {
      margin-top: 0;
      display: flex;
      flex-wrap: wrap;
      margin-inline: auto;
      width: 75%;
      gap: 10px;
      position: relative;
    }
  }

  .section__midle div {
    display: flex;
    margin-top: 0;
    margin-inline: auto;
    width: 75%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;
  }

  .section__midle .card__midle {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    &:hover .visitas__overlay {
      top: 0%;
      left: 0%;
      background-color: rgba(13, 159, 204, 0.5);
    }
  }
  .card__pupular {
    display: block;
    height: 300px;
    width: 48% !important;
    background-color: #2b223f;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    overflow: hidden;
    left: 0px;
    padding: 20px;
    cursor: pointer;

    &:hover .background__image {
      transform: rotateX(360deg);
    }
  }

  .card__pupular .background__image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative !important;
    height: 100px;
    top: 7px;
    width: 100% !important;
    border-radius: 7px;
    border-radius: 7px;
    z-index: 1;
    filter: brightness(70%);
    transition: all 0.7s ease-out;
  }

  .title-1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
    position: relative;
    top: -100px;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 70%;
    text-overflow: ellipsis;
    text-wrap: wrap;
    left: 20px;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #000000a8;
      filter: blur(2px);
      border-radius: 7px;
    }
  }

  .btn {
    position: absolute;
    bottom: 45%;
    right: 40%;
    width: 120px;
    height: 32px;
    border-radius: 8px;
    z-index: 2;
    border: none;
    background-color: #1283b8;
    color: #fff;
    transition: 0.4s ease-out;
  }

  .btn:hover {
    transition: 0.4s ease-out;
    background-color: #092da1;
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(13, 159, 204, 0.5),
      0px 5px 5px -1px rgba(21, 105, 201, 0.25),
      inset 4px 4px 8px rgba(26, 156, 216, 0.5),
      inset -4px -4px 8px rgba(9, 120, 223, 0.35);
  }

  .bar {
    position: absolute;
    bottom: 0px;
    height: 5px;
    width: 100%;
  }

  .card__pupular .rating {
    width: fit-content !important;
    position: absolute;
    bottom: 100px;
    right: 50px;
    background-color: #1283b8;
    padding: 3px 7px;
    border-radius: 7px;
    z-index: 2;
    display: flex;
    gap: 3px;

    & svg {
      margin-top: 2px;
      color: #f1c70b !important;
    }
  }

  .content {
    position: relative;
    top: 5px;
    color: #eae0fd;
    width: 90% !important;
    height: 60px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.7rem;
    z-index: 2;
  }

  .section__midle .card__midle {
    position: relative;
    overflow: hidden;
    color: #fff;
    &.item1 {
      flex-basis: 50%;
      height: 310px;
    }
    &.item2 {
      flex-basis: 29%;
      height: 300px;
    }
    &.item3 {
      flex-basis: 19%;
      height: 280px;
    }
    &.item4 {
      flex-basis: 30%;
      height: 200px;
    }
    &.item5 {
      flex-basis: 10%;
      height: 200px;
    }
    &.item6 {
      flex-basis: 10%;
      height: 200px;
    }
    &.item7 {
      flex-basis: 10%;
      height: 200px;
    }
    &.item8 {
      flex-basis: 10%;
      height: 200px;
    }
    &.item9 {
      flex-basis: 10%;
      height: 200px;
    }
    &.item10 {
      flex-basis: 10%;
      height: 200px;
    }
  }

  .section__midle .card__midle .tag {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #1283b8;
    padding: 3px 7px;
    border-radius: 2px;
    z-index: 3;
  }
  .section__midle .card__midle .visitas__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    display: flex;
    margin-top: 0;
    font-size: 20px;
    z-index: 4;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      z-index: -1;
      height: 100%;
      top: 0;
      background-color: #11111185;
      filter: blur(2px);
    }
  }

  .section__midle .card__midle .name {
    display: block;
    z-index: 3;
    position: absolute;
    padding: 7px;
    width: 100%;
    bottom: 0;
    height: min-content;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  .section__midle .card__midle img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 7px;
    z-index: 1;
  }

  .btn__close__navbar {
    display: none;
  }
  .container__ {
    width: 70%;
    margin: 30px auto;
    min-height: 60dvh;
  }

  .list__animes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32.333%, 32.333%));
    gap: 9px;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .card__anime {
    position: relative;
    overflow: hidden;
    height: 250px;
    padding: 10px;
    display: flex;
    background-color: #c1c1c1;
    border-radius: 10px;
  }

  .card__content {
    display: flex;
    gap: 10px;
  }

  .column__image {
    width: 50%;
    height: 400px;

    & .overlay {
      left: 0;
      top: 0;
      width: 50%;
      height: 0;
      background-color: #1284b857;
      font-size: 40px;
      border-radius: 7px;
      opacity: 1;
      transition-property: height;
      transition-timing-function: ease;
      transition-duration: 0.5s;
      & svg {
        font-size: 0;
      }
    }
    &:hover .overlay {
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 400px;
      background-color: #1284b857;
      font-size: 40px;
      border-radius: 7px;
      opacity: 1;
      & svg {
        font-size: 40px;
        margin-top: -150px;
        color: #fff;
      }
    }
    &:hover .btn__anime {
      transform: scale(100%);
      z-index: 5;
    }

    &:hover .name__anime {
      opacity: 0;
    }
  }
  .column__image .image__anime {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    &:hover {
      filter: brightness(70%);
    }
  }

  .column__image .btn__anime {
    position: absolute;
    z-index: 1;
    background-color: #1283b8;
    color: #fff;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    transform: scale(0%);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  .column__description {
    width: 50%;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
  }

  .column__description .status__anime {
    background-color: #1283b8;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    width: 70%;
    margin: 0 2px;
    text-transform: capitalize;
    text-align: center;
  }
  .column__description .type__anime {
    background-color: #1283b8;
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    border-radius: 6px;
    font-weight: bold;
    width: 20%;
    margin: 0 2px;
    text-align: center;
  }

  .column__description .emitido__anime {
    font-weight: bold;
    display: block;
  }

  .column__image .name__anime {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 20px;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    width: 50%;
    bottom: 0;
    height: 30%;
    background-color: rgba(17, 17, 17, 0.699) !important;
    color: #ffffff;
    text-transform: capitalize;
    left: 0;
    text-align: center;
    font-size: 16px;
    padding: 10px 5px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  .column__description .description__anime {
    width: 100%;
    position: relative;
    display: block;
    padding: 10px;
    font-weight: 400;
    height: 140px;
    margin-top: 10px;
    overflow: hidden;
    overflow-y: auto;
  }

  /* Estilos para el resto de los elementos dentro de la descripción */

  .search__container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
  }
  .search__container .search__title {
    font-size: 30px;
    font-weight: 700;
    color: #1283b8 !important;
  }
  .search__container .search__input {
    padding: 20px;
    width: 500px;
    background-color: #1b1a1f;
    border: 0;
    outline: none !important;
    border-radius: 7px;
    color: #1283b8;
    transition: all 1s ease-out;
    &::placeholder {
      color: #ccc;
      font-size: 20px;
    }
    &:focus {
      outline: #1283b8 2px solid;
      background-color: #17171a;
    }
  }
  .filter__container .filter__button {
    width: 200px;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #1b1a1f;
    color: #c1c1c1;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 7px;
  }
  .filter__item {
    position: absolute;
    background-color: #1b1a1f;
    z-index: 0;
    color: #c1c1c1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;
    top: 40px;
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    padding: 20px 40px;
    width: 440px;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    &.show {
      opacity: 1;
      z-index: 2;
      animation: scaleFilter 0.2s ease-in-out;
    }

    & > label {
      cursor: pointer;
      font-size: 15px;
      width: 160px;
      text-align: center;
      position: relative;
      padding: 7px 10px;
      & > input {
        position: absolute;
        right: 5px;
        top: 30%;
      }

      &.active {
        color: #1283b8;
      }
    }
  }
  .container__anime {
    width: 70%;
    margin: 30px auto;
    min-height: 60dvh;
  }
  .container__anime main {
    display: grid;
    gap: 20px;
    grid-template-columns: 29% 69%;
  }
  .container__anime main .container__image {
    width: 90%;
  }

  .container__anime main .container__image .footer__image__anime {
    width: 100%;
    position: relative;
    padding: 15px auto;
    display: flex;
    gap: 10px;
    margin-top: 5px;
  }

  .container__anime main .container__image .footer__image__anime .btn__voto {
    width: 50%;
    background-color: #17171a;
    color: #fff;
    padding: 7px;
    border-radius: 7px;
    font-size: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;

    transition: background-color 0.5s ease-out;
    &:hover {
      color: #1283b8;
    }
    &.active {
      color: #fff !important;
      background-color: #1283b8 !important;
    }
    & svg {
      margin-top: 5px;
    }
  }

  .user__panel {
    width: 75%;
    margin: 20px auto;
    background-color: rgb(17, 24, 39);
    padding: 50px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    outline: 4px solid #1283b8;
    box-shadow: 3px 3px 120px 10px #1283b8;
  }
  .user__panel img {
    height: 150px;
    margin-inline: auto;
    border-radius: 10px;
  }

  .user__panel span {
    font-weight: 500;
    color: #c1c1c1;
    text-transform: lowercase;
  }

  .user__panel p span {
    color: #fff;
    font-weight: 700;
  }

  .button__profile__page {
    background-color: #3c3c44;
    border-radius: 7px;
    padding: 7px;
  }
  .btn__up {
    position: absolute;
    top: -20px;
    padding: 10px;
    border-radius: 50%;
    left: 50%;
    background-color: #1283b8;
    font-size: 30px;
  }

  .container__anime main .container__image .image__anime img {
    padding: 20px;
    width: 100%;
    background-color: #17171a;
    border: 2px solid #17171a;
    border-radius: 7px;
  }

  .background__page__info {
    position: absolute;
    width: 100%;
    background-size: cover;
    z-index: -2;
    height: 300px;
    min-height: 80dvh;
    image-rendering: optimizeQuality;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(10px);
    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(5, 5, 5, 0.37);
    }
  }

  .container__anime main .info__anime .generos__anime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
  }
  .container__anime main .info__anime .generos__anime a {
    padding: 3px 12px;
    border: 1px solid #17171a;
    border-radius: 2px;
    color: #17171a;
  }

  .setting__anime {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }

  .icon__settings__anime {
    display: inline-block;
    font-size: 30px;
    width: 30%;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid #c1c1c1;
    &:hover {
      color: #1283b8;
    }
  }

  .settings {
    position: absolute;
    font-size: 15px;
    background-color: #17171a;
    width: 100%;
    left: 0;
    border-radius: 7px;
    height: -0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    top: 45px;
    transition-property: height padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &.show {
      width: 120%;
      height: 120px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
    }

    & span {
      width: max-content;
      text-wrap: nowrap;
      text-transform: capitalize !important;
      font-size: 12px !important;
      color: #86868a;
      display: block;
      text-align: start;
      width: 100%;
      margin: 5px 0;
      &:hover {
        color: #fff;
      }
      & svg {
        font-size: 18px !important;
        display: inline-block !important;
        margin-right: 5px !important;
      }

      &.active {
        color: #1283b8;
      }
    }
  }
  .container__anime .btn__favorite {
    display: flex;
    position: relative;
    font-size: 20px;
    width: auto;

    border-radius: 6px;
    transition: all 0.2s ease-out;
    margin-inline: auto;
    color: #fff;
    background-color: #17171a;
    & span {
      text-wrap: nowrap;
      padding: 7px;
      font-size: 16px;
      display: flex;
      gap: 4px;
      text-transform: uppercase;
      & svg {
        font-size: 25px;
        margin-top: 0px !important;
      }
    }
    &.active {
      background-color: #1283b8 !important;
    }
    & svg {
      margin-top: 5px !important;
      color: #fff !important;
    }
  }

  .container__anime main .container__information {
    width: 100%;
  }
  .information__page {
    padding: 40px 0px;
    padding-left: 20px;
    border-radius: 6px;
    background-color: #efeff1;
  }
  .container__anime main .container__information .info__anime {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .container__anime main .container__information .info__anime .title__anime {
    font-size: 30px;
    text-transform: capitalize;
    color: #1283b8;
    border-bottom: 1px solid #17171a;
  }
  .container__anime main .container__information .info__anime .wrapp__anime {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
  }
  .container__anime
    main
    .container__information
    .info__anime
    .wrapp__anime
    > span {
    color: #000000;
    font-weight: bold;
    padding: 10px 0;
    text-transform: capitalize;
    & strong {
      color: #2d2d30;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #1283b8;
      margin-right: 5px;
    }
  }
  .container__anime
    main
    .container__information
    .info__anime
    .wrapp__anime
    .trailer__anime {
    position: absolute;
    margin: 20px auto;
    border-radius: 7px;
    width: 400px;
    height: 220px;
    right: 0;
    margin-bottom: 40px !important;
    & > iframe {
      height: 100%;
      width: 100%;
      margin-top: 7px;
      border-radius: 7px;
    }
    &::before {
      content: 'Trailer';
      display: block;
      width: 100%;
      background-color: #3c3c44;
      color: #fff;
      padding: 7px;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }

  .proxime__episode {
    margin-top: 100px;
    background-color: #17171a;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
    font-weight: 400;
    color: #fff;
  }

  .container__anime
    main
    .container__information
    .info__anime
    .episode__anime__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    min-height: min-content;
    max-width: fit-content;

    &::before {
      content: 'Episodios';
      display: block;
      flex-basis: 100%;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .container__anime
    main
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item {
    flex-basis: 31%;
    height: 150px;
    position: relative;
    &.widthNormal {
      flex-basis: 31% !important;
    }
    &.solo__item {
      flex: 31%;
    }

    &:hover .overlay {
      color: #1283b8;
      opacity: 1;
      width: 100%;
      height: 100%;
      font-size: 40px;
      border-radius: 7px;

      & svg:hover {
        color: #000;
      }
    }
    &:hover .episode__number {
      opacity: 0;
    }
  }
  .container__anime
    main
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item
    .episode__img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }
  .container__anime
    main
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item
    .episode__number {
    position: absolute;
    z-index: 2;
    top: 5px;
    right: 5px;
    background-color: #1283b8;
    color: #fff;
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 10px;
  }
  .episodes__pagination {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .episodes__pagination button {
    padding: 6px 20px;
    border: 0;
    border-radius: 7px;
    color: #ccc;
    background-color: #17171a;
  }
  .container__episode__page {
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 80dvh;
    width: 70%;
    margin: 20px auto;
    gap: 10px;
  }

  .container__episode__page .episodes__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: fit-content;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px 4px;
    border-radius: 6px;
  }
  .container__episode__page .episodes__list a {
    display: block;
    width: 100%;
    display: flex;
    padding: 7px;
    gap: 7px;
    position: relative;
    border-bottom: 1px solid #1b1a1f;
    &.enabled {
      & span:hover {
        color: hsl(199, 82%, 40%);
      }
    }
    &.disabled {
      & span {
        color: #c1c1c1;
      }
    }
  }

  .container__episode__page .episodes__list a img {
    height: 60px;
    border-radius: 6px;
  }

  .container__episode__page .episodes__list a span {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    height: fit-content;
  }
  .container__episode__page .episodes__list a p {
    display: inline-block;
    height: fit-content;
    padding: 3px 7px;
    border-right: 2px solid #121212;
  }
  .scrollBarSide {
    width: 100%;
    padding: 10px;
    height: 800px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 7px;
  }

  .container__few__added {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &::before {
      content: 'Ultimos episodios';
      display: block;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      background-color: #17171a;
      border-radius: 6px;
      color: #fff;
      padding-left: 5px;
      text-transform: capitalize;
    }
  }
  .container__few__added a {
    display: block;
    width: 100%;
    height: 220px;
    position: relative;
  }

  .few__added__image {
    width: inherit;
    height: 80%;
    position: relative;
    border-radius: 7px;
  }
  .few__added__episode__number {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    & span {
      color: #2d2d30;
      color-scheme: light;
      font-weight: 0;
    }
  }
  .few__added__name {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: 100% !important;
    display: block;
    color-scheme: light;
    color: #000;
    text-transform: capitalize;
  }
  .container__year__animes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 40px;
    &::before {
      content: 'Animes años';
      display: block;
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      border-radius: 6px;
      background-color: #17171a;
      color: #fff;
      padding-left: 5px;
      text-transform: capitalize;
    }
  }

  .container__year__animes a {
    padding: 3px 10px;
    background-color: #b8b5bb;
    color: #17171a;
    font-size: 14px;
    border-radius: 4px;
  }
  .container__iframe {
    width: 100%;
  }
  .container__iframe h4 {
    color: #1283b8;
    font-size: 20px;
    text-transform: capitalize;
  }
  .container__iframe .iframe__div {
    width: 100%;
    height: 518px;

    position: relative;
    & iframe {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      border-radius: 7px;
    }
  }

  .overlay__episode {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    z-index: 1;
    align-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition-duration: 0.6s;
    transition-property: opacity z-index;
    transition-timing-function: ease-out;
    &.hide {
      opacity: 0;
      z-index: -1;
    }
    & img {
      filter: blur(5px);
      z-index: -1;
      position: absolute;
      width: 110%;
      height: 110%;
    }
    & svg {
      z-index: 3;
      margin-inline: auto;
      font-size: 80px;
      color: #1283d8;
      transition-property: transform;
      transition-duration: 0.2s;
      transition-timing-function: ease-in;
      cursor: pointer;
      &:hover {
        transform: scale(105%);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 110%;
      height: 110%;
      position: absolute;
      opacity: 0.8;
      border-radius: 6px;
      background-color: rgb(17, 17, 17);
      z-index: 1;
    }
  }
  .container__user {
    position: relative;
  }
  .user {
    position: absolute;
    width: 200px;
    background-color: #323235;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #c1c1c1;
    top: 45px;
    gap: 7px;
    left: -50px;
    border-radius: 7px;
    padding: 10px;
    visibility: hidden;
    &.show {
      visibility: visible;
    }
  }
  .user a {
    color: #ccc;
    font-size: 15px;
    cursor: pointer;
  }
  .container__user__page {
    width: 80%;
    margin: 20px auto;
    min-height: 80dvh;
    display: grid;
    grid-template-columns: 30% 70%;
  }

  .container__user__page .info__user {
    width: 100%;
    background-color: #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 7px;
  }
  .container__user__page .info__user .information {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
  }
  .container__user__page .info__user .information img {
    width: 100px;
    height: 120px;
    border-radius: 10px;
  }
  .container__user__page .info__user .information span {
    color: #000;
    text-transform: capitalize;
  }

  .container__user__page .info__user .btn__logout {
    width: 80%;
    background-color: #17171a;
    padding: 10px;
    color: #c1c1c1;
    text-align: center;
    border-radius: 7px;
    margin: 10px auto;
    cursor: pointer;
  }
  .container__user__page .info__user .container__options__user {
    display: flex;
    flex-direction: column;
  }
  .container__user__page .info__user .container__options__user span {
    display: block;
    background-color: #17171a;
    margin: 4px 0;
    padding: 7px;
    color: #1283b8;
    border-radius: 7px;
    width: 100% !important;
  }
  .cards {
    width: 100%;
    margin-left: 20px;
    background-color: #c1c1c1;
    padding: 20px;
  }
  .comments_container {
    width: 100%;
    margin-top: 20px;
    background-color: #141414 !important;
    border-radius: 7px;
    font-size: 20px;
    display: none;
    overflow: hidden;
    padding: 20px;
    &.show {
      display: block;
    }
  }

  .btn_comments {
    display: block;
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #17171a;
    color: #c1c1c1;
    cursor: pointer;
  }

  .owl-next {
    position: absolute;
    padding: 20px;
  }

  #disqus-recommendations.light {
    color-scheme: none !important;
    background-color: transparent !important;
  }
  .carousel__container {
    display: flex;
    gap: 6px;
    margin: 30px auto;
    flex-wrap: wrap;
    &::before {
      content: 'Animes relacionados';
      display: block;
      width: 100%;
      background-color: #17171a;
      color: #fff;
      padding: 7px;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }

  .container__.section {
    display: grid;
    gap: 10px;
    grid-template-columns: 60% 40%;
    height: min-content;
    position: relative;
  }
  .container__.section section {
    width: 100%;
  }

  .recientes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 180px));
    gap: 15px;
  }
  .recientes .anime__card {
    position: relative;
    overflow: hidden;
    line-height: normal;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.ova {
      height: 300px !important;
      overflow: hidden;
      flex-direction: column;
      & .container__image__card {
        height: 150px;
      }
      & img {
        height: 150px !important;
      }

      & .ds {
        position: relative;
      }
    }
  }

  .recientes .anime__card .anime__name {
    text-wrap: balance;
    font-size: 12px;
    font-weight: 700;
  }
  .recientes .anime__card .ds {
    width: 100%;
    margin-top: 6px;
    text-align: center;
    margin-bottom: 7px;
  }

  .recientes .anime__card .ds .status {
    background-color: #02b820;
    padding: 4px 10px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;

    &.end {
      background-color: #092da1;
    }
  }
  .recientes .anime__card .ds .type {
    background-color: #1283b8;
    padding: 4px 10px;
    margin-left: 7px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
  }
  .title {
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 30px;
      margin-right: 10px;
      background-color: #1283b8;
    }
    & svg {
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  .recientes .anime__card .container__image__card {
    height: 300px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    &:hover .overlay {
      height: 100%;
      width: 100%;
      opacity: 1;
      font-size: 50px;
      color: #fff;
      background-color: #1284b857;
      border-radius: 7px;
    }
    &:hover img {
      transform: scale(105%);
      filter: blur(20px);
    }
  }

  .recientes .anime__card .container__image__card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
  .sidebar {
    width: 100%;
    background-color: transparent;
    border-radius: 7px;
    padding: 10px 25px;
  }

  .sidebar li {
    list-style: none;
  }

  .buttons {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }

  .buttons__item {
    flex-basis: 49%;
    background-color: #1283b8;
    padding: 7px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
  }

  .sidebar .sidebar__content {
    width: 100%;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.show {
      height: 120dvh;
      padding: 10px;
      background-color: rgb(17, 24, 39);
    }

    &.rews {
      height: max-content;
      overflow: visible;
    }

    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #1283b8 transparent;
  }

  .list__rew {
    background-color: rgb(17, 24, 39);

    & .title {
      padding-left: 20px;
      color: #fff;
    }
  }

  .sidebar .sidebar__content li {
    display: flex;
    gap: 6px;
    padding: 10px 0;
    border-bottom: 2px solid #000;
    position: relative;
    width: 100%;
    & .tag {
      width: max-content;
      position: absolute;
      right: 2px;
      color: #1283b8;
      margin-left: 5px;
    }

    &.card a {
      flex-basis: 100%;
      display: block;
    }
    &.card {
      display: flex;
      width: 100%;
      height: fit-content;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 20px !important;
      &:hover .tag {
        opacity: 0;
      }
      & .name {
        display: inline-block;
        width: 70%;
        text-wrap: wrap;
        color: #fff;
        overflow: hidden;
        & .icon {
          display: inline-block;
          color: #fff;
          width: max-content;
        }
      }

      & .tag {
        width: max-content;
        position: absolute;
        right: 2px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.233),
          rgba(0, 0, 0, 0.212)
        );
        border-radius: 7px;
        width: 105px;
        padding: 4px 7px;
      }

      &:hover {
        background-color: #121212;
      }
    }
  }

  .sidebar .sidebar__content li img {
    height: 70px;
    flex-basis: 30%;
    border-radius: 7px;
  }

  .sidebar .sidebar__content li a {
    flex-basis: 100%;
    color: #ccc;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    position: relative;
  }

  .sidebar .sidebar__content li a span {
    color: #1283b8;
  }
  .item {
    width: 100%;
    height: 350px;
    position: relative;
  }
  .item img {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    object-position: center;
    object-fit: cover;
    filter: brightness(70%);
    transition-property: filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    border-radius: 7px;
    &:hover {
      cursor: pointer;
    }
  }

  .item .hero__text {
    position: relative;
    z-index: 3;
    height: max-content;
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .item .hero__text h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 42px;
    margin-top: 15px;
    margin-bottom: 8px;
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
  }

  .item .hero__text a {
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
    display: inline-block;
    width: 180px !important;
  }

  .item .hero__text a span {
    font-size: 13px;
    color: #ffffff;

    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
    display: flex;
    width: 180px;
    gap: 5px;
    & > * {
      background: #1283b8;
      height: 50px;
    }

    & svg {
      width: 30px;
      padding: 10px;
      font-size: 14px !important;
      border-radius: 0 4px 4px 0;
    }

    & > strong {
      border-radius: 4px 0 0 4px;
      padding: 14px 20px;
    }
  }
  .carousel__container .carouse__item {
    width: 170px;
    height: 270px;
    overflow: hidden;
    border-radius: 7px;
    background-color: #323235;
  }
  .carousel__container .carouse__item img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(105%);
    }
  }

  .controls {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .controls a:nth-child(1),
  .controls a:nth-child(3) {
    width: 28%;
    background-color: #17171a;
    color: #c1c1c1;
    padding: 20px;
    border-radius: 7px;
    place-content: center;
    display: flex;
  }

  .controls button {
    width: fit-content;
    background-color: #17171a;
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 7px;
  }
  .controls a:nth-child(2) {
    width: 40%;
    background-color: #17171a;
    color: #c1c1c1;
    text-align: center;
    border-radius: 7px;
    padding: 20px;
    place-content: center;
    display: flex;
  }

  .user__botton {
    position: relative;
    width: auto;
    cursor: pointer;
  }
  .container__card__user {
    position: absolute;
    top: 65px;
    z-index: 3;
    width: 300px !important;
    height: 0;
    border: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
    &.show {
      visibility: visible !important;
      height: 300px;
    }
  }

  @keyframes scaleFilter {
    0% {
      transform: scale(98%);
    }
    100% {
      transform: scale(100%);
    }
  }
  .container__form__page__register {
    transform: translate(-50%, -50%) scale(110%);
    top: 35%;
    left: 50%;
    width: 450px;
    height: 50%;
    margin: 20px auto;
    background-color: #1b1a1f;
    padding: 20px auto;
    position: fixed;
    z-index: 4;
    border-radius: 7px;
    transition: transform 0.2s ease-in-out;
    animation: scale ease-in-out 0.2s;
  }

  @keyframes scale {
    0% {
      transform: scale(50%) translate(-50%, -50%);
      top: 35%;
      left: 50%;
      width: 450px;
      height: 50%;
      margin: 20px auto;
      background-color: #1b1a1f;
      padding: 20px auto;
      position: fixed;
      z-index: 4;
      border-radius: 7px;
    }
    100% {
      transform: scale(100%) translate(-50%, -50%);
      top: 35%;
      left: 50%;
      width: 450px;
      height: 50%;
      margin: 20px auto;
      background-color: #1b1a1f;
      padding: 20px auto;
      position: fixed;
      z-index: 4;
      border-radius: 7px;
    }
  }

  .container__form__page__register .form {
    width: 90%;
    height: 90%;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }
  .container__form__page__register .form input {
    display: block;
    width: 100%;
    background-color: #323235;
    border: 0;
    color: #b8b5bb;
    border-radius: 7px;

    &::placeholder {
      color: #c1c1c1;
    }
  }

  .container__form__page__register .form button {
    background-color: #e0e0e0;
    color: #17171a;
    padding: 10px;
    border-radius: 7px;
  }
  .container__form__page__register .form .toggle-ready {
    background-color: transparent;
    color: #ccc;
    cursor: auto;
  }

  .google-button {
    text-align: center !important;
    color: #000 !important;
    justify-content: center;
    width: 100%;
    font-weight: bold !important;
  }
  .container__form__page__register .form .toggle-ready span {
    color: #1283b8;
    cursor: pointer;
    &:hover {
      color: #092da1;
    }
  }
  .container__form__page__register .form h2 {
    color: #1283b8;
    font-size: 20px;
    text-align: center;
  }

  .close-window {
    width: max-content;
    padding: 0 !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    position: absolute;
    right: 5px;
    &:hover {
      color: #1283b8 !important;
      background-color: #17171a !important;
    }
  }

  .EnEspera__panel__user {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    &:hover img {
      filter: blur(10px);
    }
    & img {
      width: 200px;
      height: 300px;
      border-radius: 7px;
    }
    &:hover .overlay {
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(13, 159, 204, 0.5);
      font-size: 50px;
      border-radius: 7px;
    }
  }

  .ultimosVistos__panel__user {
    position: relative;
    width: 200px;
    height: 150px !important;
    overflow: hidden;
    &:hover .tag {
      opacity: 0;
    }
    &:hover img {
      filter: blur(10px);
    }
    &:hover .overlay {
      opacity: 1;
      height: 100%;
      width: 100%;
      display: flex;
      background-color: rgba(13, 159, 204, 0.5);
      place-items: center;
      font-size: 50px;
      border-radius: 7px;
    }
  }

  .episodiosGuardados__panel__user {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    &:hover img {
      filter: blur(10px);
    }
    & img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      border-radius: 7px;
    }
    &:hover .overlay {
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(13, 159, 204, 0.5);
      font-size: 50px;
      border-radius: 7px;
    }
  }

  .favorite__panel__user {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    &:hover img {
      filter: blur(10px);
    }
    & img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      border-radius: 7px;
    }
    &:hover .overlay {
      opacity: 1;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: rgba(13, 159, 204, 0.5);
      font-size: 50px;
      border-radius: 7px;
    }
  }
  .ultimosVistos__panel__user img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
  }

  .ultimosVistos__panel__user .tag {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 6px;
    z-index: 3;
    background-color: #1283b8;
    padding: 3px 16px;
    font-size: 13px;
    &::before {
      content: 'episodio';
      margin-right: 4px;
      display: inline-block;
    }
  }
  .container__results {
    position: absolute;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    transition-property: opacity;
    z-index: 2;
    top: 65px;
    &.hide {
      opacity: 0 !important;
      z-index: -1;
    }
    &.show {
      opacity: 1;
      z-index: 2;
    }
  }
  .results {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 24, 39);
    padding: 12px;
    width: 300px;
    border-radius: 7px;
    gap: 10px;
    &.history::before {
      content: 'Busquedas Recientes';
      display: block;
      width: 100%;
      color: #fff;
      border-bottom: 2px solid #1283d8;
    }

    &.history a {
      display: flex;
      gap: 10px;
    }
    &.history a img {
      height: 80px;
      display: inline-block;
      border-radius: 6px;
    }

    &.history a span {
      display: inline-block;
      &:hover {
        color: #1283d8;
      }
    }

    & span {
      color: #fff;
    }
  }
  .result {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  .result .image__result {
    display: inline-block;
    margin-right: 5px;
    & img {
      width: inherit;
      height: 80px;
      border-radius: 7px;
      padding: 7px;
      background-color: #68686e;
    }
  }
  .result .info__result {
    display: inline-block;
    background-color: #000;
    & h5 {
      color: #fff;
      width: 60%;
      position: absolute;
      bottom: 10px;
      text-align: center;
    }
    & span {
      position: absolute;
      bottom: 15px;
      right: 10px;
      background-color: #68686e;
      padding: 2px 5px;
      font-size: 13px;
      border-radius: 6px;
      color: #fff;
    }
    & p {
      background-color: transparent;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #1283b8;
      padding: 2px 6px;
      font-size: 13px;
      border-radius: 6px;
      width: fit-content;
      display: inline-block;
      & svg {
        margin-top: -3px;
        margin-right: 3px;
        display: inline-block;
      }
    }
  }
  .results .btn__results {
    background-color: #1283b8;
    color: #fff;
    border: 0;
    padding: 7px;
    border-radius: 6px;
  }
}
