:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  user-select: auto;
  font-weight: 700;
  scroll-behavior: smooth;
  transition-duration: 0.2s;
}

.nav__episode {
  display: flex;
  gap: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  user-select: none;
  & .fr {
    display: flex;
    gap: 6px;
    & svg {
      margin-top: 3px;
    }
  }
  & a:hover {
    color: #1283b8;
  }
}

.disable {
  display: none !important;
}

body {
  max-width: 100vw;
  background-color: #efeff1 !important;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

img {
  image-rendering: optimizeSpeed;
}

.switch {
  border: 0;
  background-color: transparent;
  font-size: 30px;
  color: #1283b8;
}

.container_loader {
  display: flex;
  place-content: center;
  place-items: center;
  color: #458c9e;
}
