@media only screen and (max-width: 600px) {
  .section__midle {
    background-color: rgb(17, 24, 39);
    padding: 10px;
    padding-top: 0;
    height: fit-content;
  }

  .section__midle div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;
  }

  .setting__anime {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }

  .icon__settings__anime {
    display: inline-block;
    font-size: 30px;
    width: 30%;

    margin-left: 10px;
    padding-left: 5px;
    border-left: 1px solid #c1c1c1;
    &:hover {
      color: #1283b8;
    }
  }

  .proxime__episode {
    margin-top: 100px;
    background-color: #17171a;
    padding: 7px;
    text-align: center;
    border-radius: 7px;
  }
  .settings {
    position: absolute;
    font-size: 15px;
    background-color: #17171a;
    width: 100%;
    left: 0;
    z-index: 3;
    border-radius: 7px;
    height: -0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    top: 40px;
    transition-property: height padding;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &.show {
      height: 120px;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;
    }

    & span {
      width: max-content;
      text-wrap: nowrap;
      font-size: 14px;
      color: #86868a;
      display: block;
      margin: 5px 0;
      &:hover {
        color: #fff;
      }
      & svg {
        display: inline-block;
      }
    }
  }

  .section__midle .card__midle {
    position: relative;
    overflow: hidden;
    color: #fff;
    &:hover .visitas__overlay {
      top: 0;
    }
    &.item1 {
      flex-basis: 100%;
      height: 310px;
    }
    &.item2 {
      flex-basis: 30%;
      height: 300px;
    }
    &.item3 {
      flex-basis: 29%;
      height: 300px;
    }
    &.item4 {
      flex-basis: 29%;
      height: 300px;
    }
    &.item5 {
      flex-basis: 48%;
      height: 200px;
    }
    &.item6 {
      flex-basis: 48%;
      height: 200px;
    }
    &.item7 {
      flex-basis: 48%;
      height: 200px;
    }
    &.item8 {
      flex-basis: 48%;
      height: 200px;
    }
    &.item9 {
      flex-basis: 40%;
      height: 200px;
    }
    &.item10 {
      flex-basis: 40%;
      height: 200px;
    }

    &:hover img {
      filter: blur(2px) brightness(70%);
    }
  }

  .section__midle .card__midle .tag {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #1283b8;
    padding: 3px 7px;
    border-radius: 2px;
    z-index: 3;
  }
  .section__midle .card__midle .visitas__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    display: flex;
    margin-top: 0;
    font-size: 20px;
    background-color: #092ca19f;
    z-index: 4;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    transition-property: top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .section__midle .card__midle .name {
    display: block;
    z-index: 3;
    position: absolute;
    padding: 7px;
    width: 100%;
    bottom: 0;
    height: min-content;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  .section__midle .card__midle img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    z-index: 1;
    filter: brightness(70%);
  }
  nav {
    width: 100% !important;
  }
  .container__ {
    width: 100%;
    padding: 30px 7px;
    margin: 30px auto;
    min-height: 80dvh;
    height: max-content;
  }

  .list__animes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 47%));
    gap: 9px;
    padding: 7px;
  }

  .card__anime {
    position: relative;
    overflow: hidden;
    height: 600px;
    display: flex;
    background-color: #c1c1c1;
    border-radius: 10px;
  }

  .card__content {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 100%;
  }

  .column__image {
    width: 100%;
    height: 50%;
    display: block;
    margin-bottom: 65px;
  }
  .column__image .image__anime {
    position: relative;

    height: 100%;
    width: 100%;
  }

  .column__image .btn__anime {
    display: none;
  }

  .column__description {
    display: block;
    padding: 20px auto;
    height: 60%;
    width: 100%;
  }

  .column__description .status__anime {
    width: 48%;
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    margin-left: 5px;
    border-radius: 7px;
    background-color: #1283b8;
    text-transform: capitalize;
  }
  .column__description .type__anime {
    width: 45%;
    display: inline-block;
    text-align: center;
    margin: 0 2px;
    background-color: #1283b8;
    border-radius: 7px;
    text-transform: capitalize;
  }

  .column__description .emitido__anime {
    font-weight: 400;
    display: block;
    text-align: center;
  }

  .letras__container button {
    flex-shrink: 1 !important;
    flex-grow: initial !important;
  }

  .column__image .name__anime {
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 25%;
    background-color: inherit !important;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 15px;
  }

  .column__description .description__anime {
    height: 30%;
    overflow: hidden;
    display: block;
    margin-top: 10px;
    overflow-y: auto;
    padding: 10px;
    font-weight: 400;
    font-size: 13px;
  }

  .column__description .rating__anime {
    margin: 20px auto;
    background-color: #17171a;
    width: min-content;
    padding: 2px 7px;
    border-radius: 7px;
    & > p {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .search__container {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 20px;
  }
  .search__container .search__title {
    font-size: 20px;
    font-weight: 700;
  }
  .search__container .search__input {
    padding: 20px;
    width: 100%;
    background-color: #1b1a1f;
    border-radius: 7px;
    color: #1283b8;
    transition: all 1s ease-out;
    &::placeholder {
      color: #ccc;
      font-size: 20px;
    }
    &:focus {
      outline: #1283b8 2px solid;
      background-color: #17171a;
    }
  }
  .filter__form button {
    background-color: #1b1a1f;
    color: #1283b8;
    border: 0;
    padding: 0 40px !important;
    border-radius: 4px;
  }

  .filter__container {
    width: max-content;
    height: auto;
    position: relative;
  }

  .filter__container .filter__button {
    width: max-content;
    margin: 0;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #1b1a1f;
    color: #c1c1c1;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 7px;
  }

  .filter__item {
    position: absolute;
    background-color: #1b1a1f;
    z-index: 0;
    color: #c1c1c1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 7px;
    top: 40px;
    left: 10px;
    overflow: hidden;
    border-radius: 4px;
    opacity: 0;
    padding-right: 20px;
    padding-left: 5px;
    width: 200px;
    &.grond {
      width: 60vw;
      left: 0%;
      transform: translateX(-35%);
    }

    &.estados {
      flex-direction: column;
      width: max-content;
      gap: 10px;
      left: 0;
      & > label {
        width: 100%;
        margin-right: 20px;
      }
    }
    &.show {
      opacity: 1;
      z-index: 2;
    }

    & > label {
      cursor: pointer;
      font-size: 13px;
      width: 40%;
      text-align: center;
      position: relative;
      padding: 7px 10px;
      & > input {
        position: absolute;
        right: 5px;
        top: 30%;
      }

      &.active {
        color: #1283b8;
      }
    }
  }

  .d-flex {
    margin-bottom: 50px;
  }
  .btn__close__navbar {
    top: 30px;
    padding: 0px 6px;
    font-size: 20px;
    border: 0;
    background-color: transparent;
    right: 6px;
    color: #1283b8;
  }

  .carousel__container {
    display: flex;
    gap: 6px;

    flex-wrap: wrap;
    width: 100%;
    &::before {
      content: 'Animes relacionados';
      display: block;
      width: 100%;
      background-color: #323235;
      text-align: center;
      color: #fff;
      padding: 7px;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }

  .carousel__container .carouse__item {
    width: 140px;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
    background-color: #323235;
  }
  .carousel__container .carouse__item img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: scale(105%);
    }
  }

  .container__episode__page {
    display: grid;
    grid-template-columns: 70% 30%;
    min-height: 80dvh;
    width: 70%;
    margin: 20px auto;
    gap: 10px;
  }
  .comments_container {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    color: #f8f8f8;
    border-radius: 7px;
    display: none;
    overflow: hidden;
    font-size: 20px !important;
    &.show {
      display: block;
    }
  }
  .btn_comments {
    display: block;
    width: 98%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #17171a;
    color: #c1c1c1;
    cursor: pointer;
    margin: 20px auto;
  }
  .container__episode__page {
    display: block;
    min-height: 80dvh;
    width: 100%;
    gap: 10px;
    padding: 10px;
  }

  .scrollBarSide {
    width: 100%;
    background-color: transparent;
    height: max-content;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 7px;
  }

  .container__few__added {
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &::before {
      content: 'Ultimos episodios';
      display: block;
      font-size: 20px;
    }
  }
  .container__few__added a {
    display: block;
    width: 100%;
    height: 220px;
    position: relative;
  }

  .few__added__image {
    width: inherit;
    height: 80%;
    position: relative;
    border-radius: 7px;
  }
  .few__added__episode__number {
    display: block;
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    & span {
      color: #2d2d30;
      color-scheme: light;
      font-weight: 0;
    }
  }
  .few__added__name {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    width: 100% !important;
    display: block;
    color-scheme: light;
    color: #000;
    text-transform: capitalize;
  }
  .container__year__animes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    margin-top: 40px;
    &::before {
      content: 'Animes años';
      display: block;
      width: 100%;
      font-size: 20px;
      border-bottom: 2px solid #17171a;
      text-transform: capitalize;
    }
  }
  .container__year__animes a {
    padding: 3px 10px;
    background-color: #b8b5bb;
    color: #17171a;
    font-size: 14px;
    border-radius: 4px;
  }
  .container__iframe {
    width: 100%;
  }
  .container__iframe h4 {
    font-size: 20px;
    text-transform: capitalize;
    padding-left: 7px;
    color: #1283b8;
  }
  .container__iframe iframe {
    width: 100%;
    height: 245px;
    border-radius: 7px;
    aspect-ratio: 16/9;
  }
  .controls {
    display: flex;
    gap: 5px;
    margin-top: 10px;
  }
  .controls a:nth-child(1),
  .controls a:nth-child(3) {
    width: 30%;
    background-color: #17171a;
    color: #c1c1c1;
    padding: 10px;
    font-size: 15px;
    display: flex;
    gap: 5px;
    justify-content: center;
    place-items: center;
    border-radius: 7px;
  }
  .controls a:nth-child(2) {
    width: 40%;
    background-color: #17171a;
    color: #c1c1c1;
    padding: 10px;
    display: flex;
    font-size: 15px;
    gap: 5px;
    justify-content: center;
    place-items: center;
    border-radius: 7px;
  }
  .user__botton {
    position: relative;
    width: auto;
    cursor: pointer;
  }
  .container__card__user {
    position: absolute;
    top: 50px;
    width: 300px !important;
    height: 0;
    border: 0;
    left: -230px;
    z-index: 3;
    background-color: #111 !important;
    overflow: hidden;
    transition: height 0.2s ease-out;
    & h5 {
      color: #ccc !important;
    }
    &.show {
      visibility: visible !important;
      height: 260px;
    }
  }
  .owl-carousel .owl-nav button.owl-next {
    right: 20px;
    top: 50px !important;
    background-color: #092da1 !important;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 20px;
    top: 50px !important;
    background-color: #092da1 !important;
  }

  .item {
    width: 100%;
    height: 350px;
    position: relative;
  }
  .item img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-position: center;
    object-fit: cover;
    filter: brightness(70%);
    transition-property: filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    border-radius: 7px;
    &:hover {
      cursor: pointer;
    }
  }

  .item .hero__text {
    position: relative;
    z-index: 1;
    height: max-content;
    width: 100%;
    padding-top: 20px;
    margin-left: 10px;
  }
  .item .hero__text h2 {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    line-height: 52px;
    margin-top: 5px;
    margin-bottom: 8px;
    position: relative;
    top: -100%;
    opacity: 0;
    transition: all, 0.4s;
  }

  .item .hero__text a {
    position: relative;
    top: -100px;
    opacity: 0;
    -webkit-transition: all, 0.8s;
    -o-transition: all, 0.8s;
    transition: all, 0.8s;
    display: inline-block;
    width: 180px !important;
  }

  .item .hero__text a span {
    font-size: 13px;
    color: #ffffff;

    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
    display: flex;
    width: 180px;
    gap: 5px;
    & > * {
      background: #1283b8;
      height: 50px;
    }

    & svg {
      width: 30px;
      padding: 10px;
      font-size: 14px !important;
      border-radius: 0 4px 4px 0;
    }

    & > strong {
      border-radius: 4px 0 0 4px;
      padding: 14px 20px;
    }
  }

  .container__.section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: min-content;
    position: relative;
    padding: 0 10px;
  }
  .container__.section section {
    width: 100%;
  }

  .recientes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 48%));
    gap: 15px;
  }
  .recientes .anime__card {
    position: relative;
    overflow: hidden;
    line-height: normal;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.ova {
      height: 230px !important;
      overflow: hidden;
      flex-direction: column;
      & .container__image__card {
        height: 150px;
      }
      & img {
        height: 150px !important;
        object-position: center;
      }

      & .ds {
        position: relative;
      }
    }
  }
  .user__panel {
    width: 100%;
    margin: 20px auto;
    background-color: rgb(17, 24, 39);
    padding: 50px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    outline: 4px solid #1283b8;
    box-shadow: 3px 3px 120px 10px #1283b8;
  }
  .user__panel img {
    height: 150px;
    margin-inline: auto;
    border-radius: 10px;
  }

  .user__panel span {
    font-weight: 500;
    color: #c1c1c1;
    text-transform: lowercase;
  }

  .user__panel p span {
    color: #fff;
    font-weight: 700;
  }
  .btn__up {
    position: absolute;
    top: -20px;
    padding: 10px;
    border-radius: 50%;
    left: 45%;
    background-color: #1283b8;
    font-size: 30px;
  }
  .section__popular {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 180px));
    gap: 10px;
    width: 100%;
    padding: 12px;
    height: max-content;
    margin: 0 !important;
    background-color: rgb(17, 24, 39);
  }

  .card__pupular {
    height: 300px;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #2b223f;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
  }

  .card__pupular .background__image {
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
  }

  .title-1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
  .btn {
    position: absolute;
    top: 30px;
    right: 20px;
    margin: 0 20px;
    width: 120px;
    height: 32px;
    border-radius: 8px;
    z-index: 2;
    border: none;
    background-color: #1283b8;
    color: #fff;
    transition: 0.4s ease-out;
  }

  .btn:hover {
    transition: 0.4s ease-out;
    background-color: #092da1;
    color: #ffffff;
    box-shadow: 0px 0px 20px rgba(13, 159, 204, 0.5),
      0px 5px 5px -1px rgba(21, 105, 201, 0.25),
      inset 4px 4px 8px rgba(26, 156, 216, 0.5),
      inset -4px -4px 8px rgba(9, 120, 223, 0.35);
  }

  .bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
  }

  .card__pupular .rating {
    width: fit-content !important;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    gap: 3px;

    & svg {
      margin-top: 2px;
    }
  }

  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: #d059ff;
    background: linear-gradient(90deg, #6831cfab, #a777ff 100%);
    transition: 0.6s ease-out;
  }

  .card__pupular:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
  }

  .content {
    position: relative;
    top: 25px;
    color: #eae0fd;
    height: 80px;
    overflow: hidden;
    overflow-y: auto;
    font-size: 0.7rem;
    z-index: 2;
  }

  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }

  .recientes .anime__card .anime__name {
    text-wrap: balance;
    font-size: 12px;
    font-weight: 700;
  }
  .recientes .anime__card .ds {
    width: 100%;
    margin-top: 6px;
    text-align: center;
    margin-bottom: 7px;
  }

  .recientes .anime__card .ds .status {
    background-color: #02b820;
    padding: 4px 10px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;

    &.end {
      background-color: #092da1;
    }
  }
  .recientes .anime__card .ds .type {
    background-color: #1283b8;
    padding: 4px 10px;
    margin-left: 7px;
    border-radius: 7px;
    font-size: 12px;
    font-weight: 700;
  }
  .title {
    padding-top: 30px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;

    & svg {
      margin-top: 6px;
      margin-right: 5px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 4px;
      height: 30px;
      margin-right: 10px;
      background-color: #1283b8;
    }
  }

  .recientes .anime__card .container__image__card {
    height: 300px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    &:hover .overlay {
      height: 100%;
      width: 100%;
      opacity: 1;
      font-size: 50px;
      color: #fff;
      background-color: #1284b857;
      border-radius: 7px;
    }
    &:hover img {
      transform: scale(105%);
    }
  }
  .recientes .anime__card .container__image__card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }
  .sidebar {
    width: 100%;
    background-color: transparent;
    border-radius: 7px;
  }

  .sidebar li {
    list-style: none;
  }

  .buttons {
    display: flex;
    gap: 5px;
    margin: 10px 0;
  }

  .buttons__item {
    flex-basis: 49%;
    background-color: #1283b8;
    padding: 7px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
  }

  .sidebar .sidebar__content {
    width: 100%;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &.show {
      height: 120dvh;
      padding: 10px;
      background-color: rgb(17, 24, 39);
    }

    scrollbar-width: thin; /* Ancho del scrollbar */
    scrollbar-color: #1283b8 transparent;
  }

  .sidebar .sidebar__content li {
    display: flex;
    gap: 7px;
    padding: 10px 0;
    border-bottom: 2px solid #000;
    & .tag {
      width: max-content;
      position: absolute;
      right: 2px;
      color: #1283b8;
      margin-left: 5px;
    }

    &.card a {
      flex-basis: 100%;
      display: block;
    }
    &.card {
      display: flex;
      width: 100%;
      height: fit-content;

      padding: 7px !important;
      & .name {
        display: inline-block;
        width: 70%;
        text-wrap: wrap;
        color: #fff;
        overflow: hidden;
        & .icon {
          display: inline-block;
          color: #fff;
          width: max-content;
        }
      }

      & .tag {
        width: max-content;
        position: absolute;
        right: 2px;
        color: #fff;
        background-color: #131212;
        border-radius: 7px;
        width: 110px;
        padding: 4px 7px;
      }
      &:hover {
        background-color: #131212;
      }
    }
  }

  .sidebar .sidebar__content li img {
    height: 70px;
    flex-basis: 30%;
    border-radius: 7px;
  }

  .sidebar .sidebar__content li a {
    flex-basis: 70%;
    color: #ccc;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    position: relative;
  }
  .sidebar .sidebar__content li a span {
    color: #1283b8;
  }
  .background__page__info {
    height: 70%;
    width: 100%;
    z-index: -1;
    filter: brightness(70%) blur(2px);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .information__page.dark {
    width: 100%;
    padding: 5px;

    background-color: transparent !important;
  }
  .information__page .container__image {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
  }
  .information__page .container__image .image__anime {
    display: inline-block;
    width: 80%;
    margin: 20px auto;
  }

  .information__page .container__image .image__anime img {
    width: 100%;

    border-radius: 7px;
    padding: 20px;
    background-color: #1b1a1f;
  }
  .information__page .container__image .footer__image__anime {
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 5px;
  }
  .information__page .container__image .footer__image__anime .btn__voto {
    padding: 10px 70px;
    flex-basis: 50%;
    border-radius: 7px;
    color: #1283b8;
    font-size: 20px;
    background-color: #17171a !important;
    display: flex;
    gap: 5px;

    & svg {
      margin-top: 5px;
    }
    &.active {
      background-color: #17171a !important;
      color: #fff;
    }

    &:focus {
      animation: scale alternate 0.2s ease-out;
    }
  }

  @keyframes scale {
    0% {
      transform: scale(100%);
    }
    100% {
      transform: scale(70%);
    }
  }
  .information__page .container__information {
    width: 100%;
    padding: 5px;
    position: relative;
  }
  .information__page .container__information .info__anime {
    width: 100%;
    text-align: center;
  }

  .container__anime .btn__favorite {
    display: flex;
    position: relative;
    font-size: 20px;
    width: auto;
    text-transform: lowercase;
    padding: 2px 20px;
    border-radius: 6px;
    background-color: #17171a;
    transition: all 0.2s ease-out;
    margin-inline: auto;
    color: #fff;
    &:hover .menssage {
      width: 170px;
      height: 25px;
    }
    & span {
      flex-basis: 70%;
      text-wrap: nowrap;
    }
    &.active {
      background-color: #1283b8 !important;
    }
  }

  .container__anime main .info__anime .btn__favorite .menssage {
    font-size: 17px;
    padding-top: 2px;
    width: 0;
    height: 25px;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  .information__page .container__information .info__anime .rating {
    margin: 20px 0;
    width: 100%;
    justify-content: center;
  }

  .information__page .container__information .info__anime .title__anime {
    font-size: 35px;
    color: #1283b8 !important;
    display: block;
    width: 100%;
    text-align: center;
  }
  .information__page .container__information .info__anime .sypnosis {
    text-align: center;
    margin-bottom: 10px;
    &::before {
      content: 'Descripción';
      display: block;
      width: 100%;
      font-size: 20px;
      text-align: center;
      color: #3c3c44;
    }
  }
  .information__page .container__information .info__anime .wrapp__anime {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .information__page .container__information .info__anime .wrapp__anime span {
    color: #1283b8;
    text-transform: capitalize;
    margin: 0 10px;
    display: block;
    width: 100%;
  }
  .information__page .container__information .info__anime .wrapp__anime strong {
    color: #1b1a1f;
  }
  .information__page
    .container__information
    .info__anime
    .wrapp__anime
    .generos__anime {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto;
    width: 100%;
  }
  .information__page
    .container__information
    .info__anime
    .wrapp__anime
    .generos__anime
    a {
    border-radius: 7px;
    padding: 5px 7px;
    display: inline-block;
  }

  .information__page
    .container__information
    .info__anime
    .episode__anime__list {
    width: 100%;
    min-height: min-content;
    height: auto;
    max-height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
  }
  .information__page
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item {
    flex-basis: 48%;
    position: relative;

    &:hover .overlay {
      height: 100%;
      opacity: 1;
      width: 100%;
      font-size: 40px;
      color: #1283b8;
    }

    &:hover .episode__number {
      opacity: 0;
    }
  }
  .information__page
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item
    .episode__img {
    border-radius: 7px;
  }

  .information__page
    .container__information
    .info__anime
    .episode__anime__list
    .episode__item
    .episode__number {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    position: absolute;
    top: 5px;
    background-color: #1283b8;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 10px;
  }

  .episodes__pagination {
    width: 100%;
    justify-content: flex-start;
    text-align: start;
    display: flex;
    gap: 7px;
  }
  .episodes__pagination button {
    padding: 4px 14px;
    border-radius: 7px;
  }

  .carousel__container {
    display: flex;
    gap: 6px;
    margin: 30px auto;
    flex-wrap: wrap;

    &::before {
      content: 'Animes relacionados';
      display: block;
      width: 100%;
      background-color: #1b1a1f;
      color: #fff;
      padding: 7px;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }
  .trailer__anime {
    margin: 20px auto;
    border-radius: 7px;
    height: 230px;
    width: 90%;
    margin-bottom: 40px !important;
    & > iframe {
      height: 100%;
      width: 100%;
      margin-top: 7px;
      border-radius: 7px;
    }
    &::before {
      content: 'Trailer';
      display: block;
      width: 100%;
      background-color: #1b1a1f;
      color: #fff;
      padding: 7px;
      border-radius: 6px;
      text-transform: capitalize;
    }
  }
  .comments_container {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: transparent !important;
    border-radius: 7px;
    font-size: 20px;
    display: none;
    overflow: hidden;
    &.show {
      display: block;
    }
  }
  .btn_comments {
    display: block;
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #17171a;
    color: #c1c1c1;
    cursor: pointer;
  }

  #disqus_thread.light,
  #disqus-recommendations.light {
    color-scheme: dark !important;
    background-color: transparent !important;
  }
  .hero__slider.owl-carousel .owl-nav button {
    font-size: 30px;
    height: 36px;
    width: 36px;
    background: #35a9e2;
    line-height: 66px;
    text-align: center;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
    position: absolute;
    margin-top: 1px;
    top: 45% !important;
    &.owl-prev {
      left: 15px !important;
      right: auto;
      & span {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg) !important;
        top: -15px !important;
        position: absolute;
        left: 7px;
        z-index: 1;
        font-size: 40px;
      }
    }

    &.owl-next {
      right: 15px !important;

      & span {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg) !important;
        top: -18px !important;
        position: absolute;
        font-size: 40px;
        right: 9px;
        z-index: 1;
      }
    }
  }
}
